@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --ring: var(--ring);
  --input: var(--input);
  --border: var(--border);
  --accent-foreground: var(--accent-foreground);
  --accent: var(--accent);
  --muted-foreground: var(--muted-foreground);
  --muted: var(--muted);
  --secondary-foreground: var(--secondary-foreground);
  --secondary: var(--secondary);
  --primary-foreground: var(--primary-foreground);
  --primary: var(--primary);
  --popover-foreground: var(--popover-foreground);
  --popover: var(--popover);
  --card-foreground: var(--card-foreground);
  --card: var(--card);
  --foreground: var(--foreground);
  --background: var(--background);
}

:root {
  --background: var(--color-surface-1);
  --foreground: var(--color-surface-12);
  --muted: var(--color-surface-6);
  --muted-foreground: var(--color-surface-8);
  --popover: var(--color-surface-2);
  --popover-foreground: var(--color-surface-12);
  --card: var(--color-surface-1);
  --card-foreground: var(--color-surface-12);
  --border: var(--color-surface-11);
  --input: var(--color-surface-11);
  --primary: var(--color-primary-9);
  --primary-foreground: var(--color-primary-contrast);
  --secondary: var(--color-secondary-9);
  --secondary-foreground: var(--color-secondary-contrast);
  --accent: var(--color-surface-12);
  --accent-foreground: var(--color-surface-1);
  --destructive: oklch(0.63 0.25 30);
  --destructive-foreground: oklch(1 0 0);
  --ring: var(--color-primary-8);
  --chart-1: oklch(0.65 0.18 260);
  --chart-2: oklch(0.87 0.03 260);
  --chart-3: oklch(0.83 0.04 260);
  --chart-4: oklch(0.9 0.02 260);
  --chart-5: oklch(0.65 0.19 260);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: var(--color-surface-1);
  --foreground: var(--color-surface-12);
  --muted: var(--color-surface-6);
  --muted-foreground: var(--color-surface-8);
  --popover: var(--color-surface-2);
  --popover-foreground: var(--color-surface-12);
  --card: var(--color-surface-1);
  --card-foreground: var(--color-surface-12);
  --border: var(--color-surface-11);
  --input: var(--color-surface-11);
  --primary: var(--color-primary-9);
  --primary-foreground: var(--color-primary-contrast);
  --secondary: var(--color-secondary-9);
  --secondary-foreground: var(--color-secondary-contrast);
  --accent: var(--color-surface-12);
  --accent-foreground: var(--color-surface-1);
  --destructive: oklch(0.58 0.2183 30.51);
  --destructive-foreground: oklch(1 0 0);
  --ring: var(--color-primary-8);
  --chart-1:oklch(0.89 0.0566 89.01);
  --chart-2:oklch(0.41 0.0444 88.77);
  --chart-3: oklch(0.46 0.0053 48.61);
  --chart-4: oklch(0.36 0.05 90);
  --chart-5: oklch(0.82 0.09 90);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --color-primary-50: var(--color-cyan-50);
    --color-primary-100: var(--color-cyan-100);
    --color-primary-200: var(--color-cyan-200);
    --color-primary-300: var(--color-cyan-300);
    --color-primary-400: var(--color-cyan-400);
    --color-primary-500: var(--color-cyan-500);
    --color-primary-600: var(--color-cyan-600);
    --color-primary-700: var(--color-cyan-700);
    --color-primary-800: var(--color-cyan-800);
    --color-primary-900: var(--color-cyan-900);
    --color-primary-950: var(--color-cyan-950);
    --color-surface-50: var(--color-slate-50);
    --color-surface-100: var(--color-slate-100);
    --color-surface-200: var(--color-slate-200);
    --color-surface-300: var(--color-slate-300);
    --color-surface-400: var(--color-slate-400);
    --color-surface-500: var(--color-slate-500);
    --color-surface-600: var(--color-slate-600);
    --color-surface-700: var(--color-slate-700);
    --color-surface-800: var(--color-slate-800);
    --color-surface-900: var(--color-slate-900);
    --color-surface-950: var(--color-slate-950);
    --mint-1: #f9fefd;
    --mint-2: #f2fbf9;
    --mint-3: #ddf9f2;
    --mint-4: #c8f4e9;
    --mint-5: #b3ecde;
    --mint-6: #9ce0d0;
    --mint-7: #7ecfbd;
    --mint-8: #4cbba5;
    --mint-9: #86ead4;
    --mint-10: #7de0cb;
    --mint-11: #027864;
    --mint-12: #16433c;
    --mint-contrast: #1a211e;
    --color-primary-1: var(--mint-1);
    --color-primary-2: var(--mint-2);
    --color-primary-3: var(--mint-3);
    --color-primary-4: var(--mint-4);
    --color-primary-5: var(--mint-5);
    --color-primary-6: var(--mint-6);
    --color-primary-7: var(--mint-7);
    --color-primary-8: var(--mint-8);
    --color-primary-9: var(--mint-9);
    --color-primary-10: var(--mint-10);
    --color-primary-11: var(--mint-11);
    --color-primary-12: var(--mint-12);
    --color-primary-contrast: var(--mint-contrast);
    --sage-1: #fbfdfc;
    --sage-2: #f7f9f8;
    --sage-3: #eef1f0;
    --sage-4: #e6e9e8;
    --sage-5: #dfe2e0;
    --sage-6: #d7dad9;
    --sage-7: #cbcfcd;
    --sage-8: #b8bcba;
    --sage-9: #868e8b;
    --sage-10: #7c8481;
    --sage-11: #5f6563;
    --sage-12: #1a211e;
    --sage-contrast: white;
    --color-surface-1: var(--sage-1);
    --color-surface-2: var(--sage-2);
    --color-surface-3: var(--sage-3);
    --color-surface-4: var(--sage-4);
    --color-surface-5: var(--sage-5);
    --color-surface-6: var(--sage-6);
    --color-surface-7: var(--sage-7);
    --color-surface-8: var(--sage-8);
    --color-surface-9: var(--sage-9);
    --color-surface-10: var(--sage-10);
    --color-surface-11: var(--sage-11);
    --color-surface-12: var(--sage-12);
    --color-surface-contrast: var(--sage-contrast);
  }
  .dark {
    --mint-1: #0e1515;
    --mint-2: #0f1b1b;
    --mint-3: #092c2b;
    --mint-4: #003a38;
    --mint-5: #004744;
    --mint-6: #105650;
    --mint-7: #1e685f;
    --mint-8: #277f70;
    --mint-9: #86ead4;
    --mint-10: #a8f5e5;
    --mint-11: #58d5ba;
    --mint-12: #c4f5e1;
    --sage-1: #101211;
    --sage-2: #171918;
    --sage-3: #202221;
    --sage-4: #272a29;
    --sage-5: #2e3130;
    --sage-6: #373b39;
    --sage-7: #444947;
    --sage-8: #5b625f;
    --sage-9: #63706b;
    --sage-10: #717d79;
    --sage-11: #adb5b2;
    --sage-12: #eceeed;
  }
}
